In [20]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix

In [21]:
data = pd.read_csv('thyroid.csv')
data.drop(['TBG'], axis=1, inplace=True)
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,f,NaN,f,NaN,f,NaN,f,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,t,128.0,f,NaN,f,NaN,f,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,t,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,t,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,t,other,S,840803047

In [22]:
data.shape

(9172, 30)

In [23]:
data['sick'].value_counts()

sick
f    8828
t     344
Name: count, dtype: int64

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  9172 non-null   int64
 1   sex                  8865 non-null   object
 2   on_thyroxine         9172 non-null   object
 3   query_on_thyroxine   9172 non-null   object
 4   on_antithyroid_meds  9172 non-null   object
 5   sick                 9172 non-null   object
 6   pregnant             9172 non-null   object
 7   thyroid_surgery      9172 non-null   object
 8   I131_treatment       9172 non-null   object
 9   query_hypothyroid    9172 non-null   object
 10  query_hyperthyroid   9172 non-null   object
 11  lithium              9172 non-null   object
 12  goitre               9172 non-null   object
 13  tumor                9172 non-null   object
 14  hypopituitary        9172 non-null   object
 15  psych                9172 non-null   object
 16  TSH_measured         9172 non-null   object
 17  TSH                  8330 non-null   float64
 18  T3_measured          9172 non-null   object
 19  T3                   6568 non-null   float64
 20  TT4_measured         9172 non-null   object
 21  TT4                  8730 non-null   float64
 22  T4U_measured         9172 non-null   object
 23  T4U                  8363 non-null   float64
 24  FTI_measured         9172 non-null   object
 25  FTI                  8370 non-null   float64
 26  TBG_measured         9172 non-null   object
 27  referral_source      9172 non-null   object
 28  target               9172 non-null   object
 29  patient_id           9172 non-null   int64
dtypes: float64(5), int64(2), object(23)
memory usage: 2.1+ MB

handling the null values

In [25]:
data['T3'].fillna(data['T3'].mean(), inplace=True)
data['TSH'].fillna(data['TSH'].mean(), inplace=True)
data['TT4'].fillna(data['TT4'].mean(), inplace=True)
data['T4U'].fillna(data['T4U'].mean(), inplace=True)
data['FTI'].fillna(data['FTI'].mean(), inplace=True)
data['sex'].fillna('F', inplace=True)

In [26]:
data.isnull().sum()

age                    0
sex                    0
on_thyroxine           0
query_on_thyroxine     0
on_antithyroid_meds    0
sick                   0
pregnant               0
thyroid_surgery        0
I131_treatment         0
query_hypothyroid      0
query_hyperthyroid     0
lithium                0
goitre                 0
tumor                  0
hypopituitary          0
psych                  0
TSH_measured           0
TSH                    0
T3_measured            0
T3                     0
TT4_measured           0
TT4                    0
T4U_measured           0
T4U                    0
FTI_measured           0
FTI                    0
TBG_measured           0
referral_source        0
target                 0
patient_id             0
dtype: int64

In [27]:
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,f,108.700305,f,0.976056,f,113.640746,f,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,t,128.000000,f,0.976056,f,113.640746,f,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,f,108.700305,f,0.976056,f,113.640746,t,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,f,108.700305,f,0.976056,f,113.640746,t,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,f,108.700305,f,0.976056,f,113.640746,t,other,S,840803047

trannsform the data

In [28]:
encoder = LabelEncoder()
data['sex'] = encoder.fit_transform(data['sex'])
data['query_on_thyroxine'] = encoder.fit_transform(data['query_on_thyroxine'])
data['FTI_measured'] = encoder.fit_transform(data['FTI_measured'])
data['I131_treatment'] = encoder.fit_transform(data['I131_treatment'])
data['on_thyroxine'] = encoder.fit_transform(data['on_thyroxine'])
data['on_antithyroid_meds'] = encoder.fit_transform(data['on_antithyroid_meds'])
data['sick'] = encoder.fit_transform(data['sick'])
data['pregnant'] = encoder.fit_transform(data['pregnant'])
data['thyroid_surgery'] = encoder.fit_transform(data['thyroid_surgery'])
data['I131_treatment'] = encoder.fit_transform(data['I131_treatment'])
data['query_hypothyroid'] = encoder.fit_transform(data['query_hypothyroid'])
data['query_hyperthyroid'] = encoder.fit_transform(data['query_hyperthyroid'])
data['lithium'] = encoder.fit_transform(data['lithium'])
data['goitre'] = encoder.fit_transform(data['goitre'])
data['tumor'] = encoder.fit_transform(data['tumor'])
data['hypopituitary'] = encoder.fit_transform(data['hypopituitary'])
data['psych'] = encoder.fit_transform(data['psych'])
data['TSH_measured'] = encoder.fit_transform(data['TSH_measured'])
data['T3_measured'] = encoder.fit_transform(data['T3_measured'])
data['TT4_measured'] = encoder.fit_transform(data['TT4_measured'])
data['T4U_measured'] = encoder.fit_transform(data['T4U_measured'])
data['FTI_measured'] = encoder.fit_transform(data['FTI_measured'])
data['TBG_measured'] = encoder.fit_transform(data['TBG_measured'])
data['referral_source'] = encoder.fit_transform(data['referral_source'])
data['target'] = encoder.fit_transform(data['target'])

In [29]:
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,referral_source,target,patient_id
0,29,0,0,0,0,0,0,0,0,1,...,0,108.700305,0,0.976056,0,113.640746,0,5,0,840801013
1,29,0,0,0,0,0,0,0,0,0,...,1,128.000000,0,0.976056,0,113.640746,0,5,0,840801014
2,41,0,0,0,0,0,0,0,0,0,...,0,108.700305,0,0.976056,0,113.640746,1,5,0,840801042
3,36,0,0,0,0,0,0,0,0,0,...,0,108.700305,0,0.976056,0,113.640746,1,5,0,840803046
4,32,0,0,0,0,0,0,0,0,0,...,0,108.700305,0,0.976056,0,113.640746,1,5,31,840803047

In [30]:
legit = data[data['sick'] == 1]
more = data[data['sick'] == 0]
more_select = more.sample(n=344)

In [31]:
new_data = pd.concat([legit, more_select], ignore_index=True)

In [32]:
X = new_data.drop(['sick', 'referral_source'], axis=1)
Y = new_data['sick']

In [33]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [34]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8,stratify=Y, random_state=42)

In [35]:
model = LogisticRegression(n_jobs=2)  #perform poor here
# model = svm.SVC(kernel="linear")  #perform poor

In [36]:
model.fit(x_train, y_train)

LogisticRegression(n_jobs=2)

In [37]:
x_test = scaler.fit_transform(x_test)
y_pred = model.predict(x_test)
print("accuracy_score is : ", accuracy_score(y_test, y_pred))

accuracy_score is :  0.6811594202898551

accuracy_score is :  0.6884057971014492

In [38]:
confusion = confusion_matrix(y_test, y_pred)
conf_matrix_df = pd.DataFrame(confusion, columns=['Predicted Negative', 'Predicted Positive'], index=['Actual Negative', 'Actual Positive'])
conf_matrix_df

                 Predicted Negative  Predicted Positive
Actual Negative                  41                  28
Actual Positive                  16                  53